/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*****************************************************/

div.container-fluid .col-xs-3, div.container-fluid .col-xs-6 {
  padding-left: 2px;
  padding-right: 2px;
}

div.map {
  width: 100%;
  border: 5px solid gray;
}

div.square {
  position: relative;
  border: 1px solid black;
  float: left;
}

div.field, div.entity {
  position: absolute;
  /*width: 100%;*/
  /*height: 100%;*/
  border: 1px solid red;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div.entity {
  margin: 10%;
  color: white;
  /*font-size: 3em;*/
  font-size: 3vw;
}

.grass {
  background-color: green;
}

.lake {
  background-color: lightblue;
}

.red {
  background-color: red;  
}

.blue {
  background-color: blue;
}









#POCtable {
  position: relative;
}
.POCfield {
  position: absolute;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
.POCsquare {
  position: absolute;
  color: white;
  width: 20px;
  height: 20px;
  background-color: orange;
  transition: transform 1s;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow:     0 1px 0 hsl(174,5%,80%),
                0 2px 0 hsl(174,5%,75%),
                0 3px 0 hsl(174,5%,70%),
                0 4px 0 hsl(174,5%,66%),
                0 5px 0 hsl(174,5%,64%),
                0 6px 0 hsl(174,5%,62%),
                0 7px 0 hsl(174,5%,61%),
                0 8px 0 hsl(174,5%,60%),

                0 0 5px rgba(0,0,0,.05),
              0 1px 3px rgba(0,0,0,.2),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.2),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.3);
}
.POCbattle {
  position: fixed;
  background-color: rosybrown;
  border: 10px solid white;
  padding: 50px;
  font-size: 30px;
  top: 20px;
  right: 20px;
}